.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    width: 500px;
}

.clear {
    color: gray;
}
.clear:hover {
    text-decoration: underline;
    cursor: pointer;
}

.delete:hover {
    background-color: #eceff1;
    cursor: pointer;
}
